@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
 *,
 *::before,
 *::after{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
  //  debug
  //  outline: solid #f00 1px !important;
 }

 :root{
   --clr-text-primary:#000000;
   --clr-text-secondary:#888888;
   --clr-bg-dark:#121212;
   --clr-bg-light:#1e1e1e;
   --clr-bg-accent:#2d2d2d;
   --clr-accent:#DE5C5C;
   --clr-bg-light-light: #E3E3E3;
   --clr-white: #fff;
 }

 body{
   line-height: 1.5;
   background-color: var(--clr-bg-light-light);
   width: 100vw;
   height: 100vh;
 }

 button{
  width: 45%;
  height: 2.2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color:var(--clr-white);
  background: var(--clr-accent);
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}

button:hover{
  letter-spacing: 2px;
  cursor: pointer;
}